Total open tasks </br>
Tasks completed last month <br/>
Tasks completed total </br>
Tasks self-destructed
<div id='new_item'>
	<%= render partial: 'items/form', locals: {new_item: @new_item} %>
</div>
<ul id='todo_list'>
		<%= render @items %>
</ul>