Total open tasks </br>
Tasks completed last month <br/>
Tasks completed total </br>
Tasks self-destructed

<%= render partial: 'items/form', locals: {new_item: @new_item} %>

<ul>
	<% @items.each do |item| %>
		<li>
			<%= render partial: 'items/item', locals: {item: item} %>
		</li>
	<% end %>
</ul>