<h1 id='intro'>Let's Get Some Things Done Today!</h1>
<h5>Nockitout is a self-destructing to-do list with items that delete themselves after 7 days of their creation whether they have been conmpleted or not,<br/>because let's face it, if you can't get it done in 7 days, it didn't belong on your list in the first place. </h4>
<div class='col-md-6 welcome'>
	<%= render 'users/log_in' %>
</div>
<div class='col-md-6 welcome'>
	<%= render 'users/sign_up' %>
</div>